* {
    margin: 0;
    padding: 0;
}
.logo {
  height: 50px;
}

.navbar {
  width: 100%;
  height: 50px;
  top: 0;        
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(171, 77, 77, 0.8);
  padding: 10px;
  z-index: 1000;   
}


.navbar a {
  color: #ffffff;
  font-weight: 30;
  text-decoration: none;
  text-align: center;      
  white-space: nowrap;      
}
.navbar a:hover {
  color: black;
}

.bg {
  position: fixed;     
  left: 0;
  width: 100%;
  height: 100vh;       
  z-index: -1;          
  overflow: hidden;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  filter: brightness(0.7); 
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.5rem;
}

.cards-section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
    
}

.cards-section h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.4s;
}

.card h3 {
    font-size: 1.3rem;
    margin: 15px 0 10px 0;
    color: #003b8e;
}

.card p {
    padding: 0 15px 20px 15px;
    font-size: 0.95rem;
    color: #444;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.card:hover img {
    transform: scale(1.1);
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}