* {
    margin: 0;
    padding: 0;
}
.logo {
  height: 50px;
}
.navbar {
  width: 100%;;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;  
  align-items: center;       
  gap: 20px;                
  background: rgba(171, 77, 77, 0.8);
  padding: 10px;
}

.navbar a {
  color: #ffffff;
  font-weight: 30;
  text-decoration: none;
  text-align: center;      
  white-space: nowrap;      
}
.navbar a:hover {
  color: black;
}

.bg {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;      
  z-index: -1;         
  overflow: hidden;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  filter: brightness(0.7); 
}


body {
    background: none;
    overflow: hidden; 
}
.container {
    width: 100%;
    max-width: 800px;
    position: fixed;
    top: 80px;              
    bottom: 60px;           
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;

    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.25);
    backdrop-filter: blur(5px);
    overflow-y: auto;
}
.title {
    font-size: 2.3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
}

.section {
    margin-bottom: 35px;
}

.section h2 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #333;
}

.card {
    background: #ffffff;
    padding: 15px 20px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 25px black;
}

.contact-box {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  animation: fadeIn 0.2s ease;
}

.contact-box img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.contact-box h2 {
  margin-bottom: 8px;
  font-size: 1.3rem;
}

.contact-box p {
  font-size: 1.1rem;
  font-weight: bold;
}

@keyframes fadeIn {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
