* {
    margin: 0;
    padding: 0;
}
.card-section {
    top:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-repeat: no-repeat;
}

.card-container {
    margin-top: 45px;
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container .card {
    position: relative;
    width: 300px;
    height: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}

.card-container .card:hover {
    height: 300px;
}

.card-container .imgBx {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
}

.card-container .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container .content {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    text-align: center;
    margin-top: -50px;
}

.card-container .card:hover .content {
    opacity: 1;
    visibility: visible;
    margin-top: 10px;
}

* {
    margin: 0;
    padding: 0;
}
.logo {
  height: 50px;
}
.navbar {
  width: 100%;;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;  
  align-items: center;       
  gap: 20px;                
   background: rgba(171, 77, 77, 0.8);
  padding: 10px;
}

.navbar a {
  color: #ffffff;
  font-weight: 30;
  text-decoration: none;
  text-align: center;      
  white-space: nowrap;      
}
.navbar a:hover {
  color: black;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}



