/* RESET */
* {
    margin: 0;
    padding: 0;
}

.logo { height: 50px; }

.navbar {
  width: 100%;
  height: 50px;
  top: 0;         
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(171, 77, 77, 0.8);
  padding: 10px;
  z-index: 1000;  
}
.navbar a {
  color: #ffffff;
  font-weight: 30;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.navbar a:hover {
  color: black;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 1.2rem;
}
